.btn-block {
	width: 100%;
}

.landing-text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.landing-title {
	display: block;
	margin-top: 80px;
}

.ans {
	display: block;
	text-align: center;
}

.btn-txt-space {
	padding-top: 90px;
}

.footer{
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

}