.btn-block {
	width: 100%;
}

.landing-text {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.landing-title {
	display: block;
	margin-top: 80px;
}

.ans {
	display: block;
	text-align: center;
}

.btn-txt-space {
	padding-top: 90px;
}
